* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section.home-banner-container .home-banner-wrapper {
    padding: 0;
    max-width: 100%;
    margin: 0;
}

.home-banner {
    background-color: red;
}

.home-banner .sub-home-banner {
    position: relative;
}

.home-banner .sub-home-banner .sub-banner-item-1::after {
    content: '';
    background: linear-gradient(90deg, #787735 -1.21%, rgba(120, 119, 53, 0.00) 52.42%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.home-banner .sub-home-banner .sub-banner-item-1 picture {
    line-height: 0;
    display: block;
    height: 100%;
}

.home-banner .sub-home-banner .sub-banner-item-1 picture img {
    width: 100%;
    height: 400px;
}

.sub-home-banner .sub-banner-item-1 p:last-of-type {
    position: absolute;
    top: 48px;
    left: 67px;
    margin: 0;
    z-index: 1;
}

.home-banner .sub-home-banner .sub-banner-item-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 67px 71px;
}

.home-banner .sub-home-banner .sub-banner-item-2 .button-container,
.home-banner .sub-home-banner .sub-banner-item-2 .button-container .button {
    margin: 0;
}

.home-banner .sub-home-banner .sub-banner-item-2 .button-container .button {
    color: var(--Button-Primary-Default, #2E2A94);
    /* font-family: var(--Body, Poppins); */
    font-size: var(--Button-Medium-Size, 16px);
    font-weight: 600;
    line-height: var(--Button-Medium-Line-Height, 20px);
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 176px;
    width: 100%;
    display: block;
    margin: 27px 0 0 94px;
}

.home-banner .sub-home-banner .sub-banner-item-3 {
    display: none;
}

.home-banner .sub-home-banner .sub-banner-item-4 {
    position: absolute;
    bottom: -24px;
    right: 67px;
}

.home-banner .sub-home-banner .sub-banner-item-4 ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

.home-banner .sub-home-banner .sub-banner-item-4 ul li {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: var(--Blue-1-500, #4338F3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner .sub-home-banner .sub-banner-item-4 ul li:first-of-type {
    background: var(--Blue-1-300, #7986FD);
}


@media screen and (max-width: 950px) {
    .home-banner .sub-home-banner .sub-banner-item-2 {
        padding: 48px 20px 71px;
    }
}

@media screen and (max-width:768px) {

    .home-banner .sub-home-banner .sub-banner-item-1,
    .home-banner .sub-home-banner .sub-banner-item-2 ,
    .home-banner .sub-home-banner .sub-banner-item-4{
        display: none;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 {
        display: block;
        position: relative;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 picture {
        line-height: 0;
        height: 100%;
        display: block;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 picture img {
        width: 100%;
        height: 237px;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 .button-container {
        position: absolute;
        top: 50%;
        /* left: 93px; */
        left: 25%;
        /* transform: translateY(-50%); */
        /* width: 100%; */
        /* height: 100%; */
        /* padding: 117px 93px; */
    }

    .home-banner .sub-home-banner .sub-banner-item-3 .button-container .button {
        color: var(--Button-Primary-Default, #2E2A94);
        font-size: var(--Button-Small-Size, 14px);
        line-height: var(--Button-Small-Line-Height, 16px);
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 8px;
        max-width: 124px;
        width: 100%;
        margin: 0;
    }
}