@import '../swiper/swiper-bundle.min.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section.home-banner-container {
    position: relative;
}

.section.home-banner-container,
.section.home-banner-container .home-banner-wrapper {
    padding: 0;
    max-width: 100%;
    margin: 0;
}

.home-banner .sub-home-banner {
    position: relative;
}

.home-banner .sub-home-banner .sub-banner-item-1::after {
    content: '';
    background: linear-gradient(90deg, #787735 -1.21%, rgb(120 119 53 / 0%) 52.42%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.home-banner .sub-home-banner .sub-banner-item-1 picture {
    line-height: 0;
    display: block;
    height: 100%;
}

.home-banner .sub-home-banner .sub-banner-item-1 picture img {
    width: 100%;
    height: 400px;
}

.sub-home-banner .sub-banner-item-1 p:last-of-type {
    position: absolute;
    top: 48px;
    left: 67px;
    margin: 0;
    z-index: 1;
}

.home-banner .sub-home-banner .sub-banner-item-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 67px 71px;
}

.home-banner .sub-home-banner .sub-banner-item-2 p {
    margin: 0;
}

.home-banner .sub-home-banner .sub-banner-item-2 .button-container,
.home-banner .sub-home-banner .sub-banner-item-2 .button-container .button {
    margin: 0;
}

.home-banner .sub-home-banner .sub-banner-item-2 .button-container .button {
    color: var(--button-primary-default, #2E2A94);
    font-size: var(--button-medium-size, 16px);
    font-weight: 600;
    line-height: var(--button-medium-line-height, 20px);
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 176px;
    width: 100%;
    display: block;
    margin: 19px 0 0 94px;
}

.home-banner .sub-home-banner .sub-banner-item-3 {
    display: none;
}

.home-banner .sub-home-banner .sub-banner-item-4 {
    position: absolute;
    bottom: -24px;
    right: 67px;
}

.block.home-banner .swiper-pagination {
    bottom: 21px;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.block.home-banner .swiper-pagination .swiper-pagination-bullet {
    margin: 0;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: unset;
    width: 6px;
    height: 6px;
    display: block;
}

.block.home-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}

.block.home-banner .swiper-button-prev,
.block.home-banner .swiper-button-next {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 67px;
}

.block.home-banner .swiper-button-next {
    left: unset;
    right: 67px;
}

.block.home-banner .swiper-button-prev::after,
.block.home-banner .swiper-button-next::after {
    content: '';
    background: url('../../icons/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 20px;
    height: 20px;
    display: block;
}

.block.home-banner .swiper-button-next::after {
    transform: rotate(180deg);
}

.section.home-banner-container .default-content-wrapper {
    position: absolute;
    padding: 0;
    right: 67px;
    bottom: -24px;
    z-index: 1;
}

.section.home-banner-container ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

.section.home-banner-container ul li {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: var(--blue-1-500, #4338F3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section.home-banner-container ul li:first-of-type {
    background: var(--blue-1-300, #7986FD);
}

@media screen and (width <= 950px) {
    .home-banner .sub-home-banner .sub-banner-item-2 {
        padding: 48px 20px 71px;
    }
}

@media screen and (width <=768px) {
    .home-banner .sub-home-banner .sub-banner-item-1,
    .home-banner .sub-home-banner .sub-banner-item-2,
    .home-banner .sub-home-banner .sub-banner-item-4 {
        display: none;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 {
        display: block;
        position: relative;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 p {
        margin: 0;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 picture {
        line-height: 0;
        height: 100%;
        display: block;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 picture img {
        width: 100%;
        height: 237px;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 .button-container {
        position: absolute;
        top: 50%;
        left: 25%;
    }

    .home-banner .sub-home-banner .sub-banner-item-3 .button-container .button {
        color: var(--button-primary-default, #2E2A94);
        font-size: var(--button-small-size, 14px);
        line-height: var(--button-small-line-height, 16px);
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 8px;
        max-width: 124px;
        width: 100%;
        margin: 0;
    }

    .block.home-banner .swiper-button-prev,
    .block.home-banner .swiper-button-next,
    .section.home-banner-container .default-content-wrapper {
        display: none;
    }

    .block.home-banner .swiper-pagination {
        bottom: 21px;
        display: flex;
        gap: 4px;
        justify-content: center;
    }

    .block.home-banner .swiper-pagination .swiper-pagination-bullet {
        margin: 0;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: unset;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: block;
    }

    .block.home-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;
    }
}