@use '../../styles/common-theme/css/variables_mixins' as *;
@use '../../styles/common-theme/css/fluid-typography' as *;
@use 'sass:map';

// Variables (Make sure to define these in your _variables.scss or similar)
:root {
    --background-color: #fff;
    --body-font-family: "Poppins", sans-serif;
    // --nav-height: 64px;
    --heading-font-size-s: 1.25rem;
    --body-font-size-s: 1rem;
    --light-color: #f9f9f9;
}

// Header and Nav Layout
header {
    .nav-wrapper {
        background-color: var(--background-color);
        width: 100%;
        z-index: 2;
        position: fixed;
        padding: 10px 0;
        top: 40px;
    }

    nav {
        box-sizing: border-box;
        display: grid;
        grid-template:
            "hamburger brand tools" var(--nav-height) "sections sections sections" 1fr / auto 1fr auto;
        align-items: center;
        gap: 0 24px;
        margin: auto;
        max-width: 1248px;
        height: var(--nav-height);
        padding: 0 24px;
        font-family: var(--body-font-family);

        @include media(mobile) {
            gap: inherit;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
        }

        &[aria-expanded="true"] {
            grid-template:
                "hamburger brand" var(--nav-height) "sections sections" 1fr
                "tools tools" var(--nav-height) / auto 1fr;
            overflow-y: auto;
            min-height: 100dvh;
        }

        p {
            margin: 0;
            @include font-style(14px, 16px, $primary-blue, map.get($font-weights, medium), $Poppins);
        }

        a:any-link {
            color: currentcolor;
        }
    }

    // Hamburger
    .nav-hamburger {
        grid-area: hamburger;
        height: 22px;
        display: flex;
        align-items: center;

        @include media(mobile) {
            display: none;
        }

        button {
            height: 22px;
            margin: 0;
            border: 0;
            border-radius: 0;
            padding: 0;
            background-color: var(--background-color);
            color: inherit;
            overflow: initial;
            text-overflow: initial;
            white-space: initial;
        }

        .nav-hamburger-icon,
        .nav-hamburger-icon::before,
        .nav-hamburger-icon::after {
            box-sizing: border-box;
            display: block;
            position: relative;
            width: 20px;
        }

        .nav-hamburger-icon::before,
        .nav-hamburger-icon::after {
            content: "";
            position: absolute;
            background: currentcolor;
        }

        // Closed state
        nav[aria-expanded="false"] & {

            .nav-hamburger-icon,
            .nav-hamburger-icon::before,
            .nav-hamburger-icon::after {
                height: 2px;
                border-radius: 2px;
                background: currentcolor;
            }

            .nav-hamburger-icon::before {
                top: -6px;
            }

            .nav-hamburger-icon::after {
                top: 6px;
            }
        }

        // Open state
        nav[aria-expanded="true"] & {
            .nav-hamburger-icon {
                height: 22px;
            }

            .nav-hamburger-icon::before,
            .nav-hamburger-icon::after {
                top: 3px;
                left: 1px;
                transform: rotate(45deg);
                transform-origin: 2px 1px;
                width: 24px;
                height: 2px;
                border-radius: 2px;
            }

            .nav-hamburger-icon::after {
                top: unset;
                bottom: 3px;
                transform: rotate(-45deg);
            }
        }
    }

    // Brand
    .nav-brand {
        grid-area: brand;
        flex-basis: 75px;
        font-size: var(--heading-font-size-s);
        font-weight: 700;
        line-height: 1;

        div p:first-child {
            @include media(mobile) {
                display: none;
            }
        }

        div p:nth-child(2) {
            display: none;

            @include media(mobile) {
                display: block;
            }
        }

        img {
            width: 75px;
            height: 100%;

            @include media(mobile) {
                width: auto;
            }
        }
    }

    // Sections
    .nav-sections {
        grid-area: sections;
        flex: 1 1 auto;
        display: none;
        visibility: hidden;

        ul {
            list-style: none;
            padding-left: 0;
            font-size: var(--body-font-size-s);

            >li {
                font-weight: 500;

                >ul {
                    margin-top: 0;

                    >li {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &[aria-expanded="true"] .nav-sections {
        display: block;
        visibility: visible;
        align-self: center;

        div {
            display: flex;
            align-items: center;
            gap: 24px;

            ul:first-child {
                display: flex;
                height: 40px;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 24px;
                border: 1px solid #2E2A94;

                li {
                    display: flex;
                }
            }

            >ul:nth-child(2) {
                li {
                    @include font-style(14px, 16px, $primary-blue, map.get($font-weights, medium), $Poppins);
                    padding-right: 12px;

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 3px;
                        right: -3px;
                        transform: rotate(135deg);
                        width: 6px;
                        height: 6px;
                        border: 2px solid currentcolor;
                        border-radius: 0 1px 0 0;
                        border-width: 2px 2px 0 0;
                    }
                }

                @include media(mobile) {
                    display: none;
                }
            }
        }
    }

    // Tools
    .nav-tools {
        grid-area: tools;

        div {
            ul:first-child {
                display: flex;
                align-items: center;
                gap: 24px;
                list-style: none;
                margin: 0;

                @include media(mobile) {
                    display: none;
                }

                li {
                    @include font-style(14px, 16px, $primary-blue, map.get($font-weights, medium), $Poppins);

                    a {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }

                }

                li:last-child {
                    display: flex;
                    width: 124px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    background: #2E2A94;

                    a {
                        @include font-style(14px, 16px, $primary-white, map.get($font-weights, medium), $Poppins);
                        text-decoration: none;
                    }
                }
            }

            ul:nth-child(2) {
                display: none;

                @include media(mobile) {
                    list-style: none;
                    margin: 0;
                    display: flex;
                    width: 100px;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        a {
                            display: flex;
                        }
                    }
                }
            }

        }
    }

    // Header Top
    .header-top {
        max-width: 100%;
        width: -webkit-fill-available;
        position: absolute;
        top: -40px;
        left: 0;
        background: #141414;
        color: $primary-white;

        @include media(mobile) {
            background-color: $primary-white;
        }

        & div:first-child {
            width: 71%;
            display: flex;
            height: 40px;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
            margin: auto;

            @include media(mobile) {
                width: 93%;
                border-bottom: 1px solid #BDBDBD;
            }

            & ul:first-child {
                list-style: none;
                padding: 0;
                margin: 0;

                & li:first-child {
                    @include font-style(12px, 16px, $primary-white, map.get($font-weights, regular), $Poppins);

                    @include media(mobile) {
                        display: none;
                    }
                }

                & li:nth-child(2) {
                    display: none;

                    @include media(mobile) {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        @include font-style(12px, 14px, $primary-blue, map.get($font-weights, regular), $Poppins);

                        span {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            & ul:nth-child(2) {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 40px;
                padding: 0;
                margin: 0;

                & li:nth-child(1) {
                    p {
                        @include font-style(12px, 16px, $primary-white, map.get($font-weights, regular), $Poppins);

                        @include media(mobile) {
                            color: $primary-blue;
                        }
                    }
                }

                & li:nth-child(2) {
                    position: relative;

                    @include media(mobile) {
                        display: none;
                    }

                    p {
                        color: $primary-white;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        @include font-style(12px, 16px, $primary-white, map.get($font-weights, regular), $Poppins);
                        cursor: pointer;
                        user-select: none;

                        span {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                & ul {
                    position: absolute;
                    top: 25px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    background-color: $primary-white;
                    color: $primary-blue;
                    gap: 0;
                    // padding: 8px 8px;
                    border-radius: 4px;
                    display: none;


                    & li {
                        width: 100%;
                        @include font-style(12px, 16px, $primary-blue, map.get($font-weights, regular), $Poppins);
                        padding: 8px 10px;
                        border-bottom: 1px solid gray;
                    }
                }

                &.dropdown-active {
                    & ul {
                        display: block;
                    }

                    span {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}


// Media Query >= 900px
@media (width >=900px) {
    header {
        nav {
            display: flex;
            justify-content: space-between;
            gap: 0 32px;
            max-width: 1264px;
            padding: 0 32px;

            &[aria-expanded="true"] {
                min-height: 0;
                overflow: visible;
            }

            .nav-hamburger {
                display: none;
                visibility: hidden;
            }

            .nav-sections {
                display: block;
                visibility: visible;
                white-space: nowrap;

                .nav-drop {
                    position: relative;
                    padding-right: 16px;
                    cursor: pointer;

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 3px;
                        right: -3px;
                        transform: rotate(135deg);
                        width: 6px;
                        height: 6px;
                        border: 2px solid currentcolor;
                        border-radius: 0 1px 0 0;
                        border-width: 2px 2px 0 0;
                    }

                    &[aria-expanded="true"]::after {
                        top: unset;
                        bottom: 0.5em;
                        transform: rotate(315deg);
                    }
                }

                ul {
                    display: flex;
                    gap: 24px;
                    margin: 0;
                }

                .default-content-wrapper {
                    >ul>li {
                        flex: 0 1 auto;
                        position: relative;

                        >ul {
                            display: none;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: -8px;
                                left: 16px;
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-bottom: 8px solid var(--light-color);
                            }

                            >li {
                                padding: 8px 0;
                            }
                        }

                        &[aria-expanded="true"]>ul {
                            display: block;
                            position: absolute;
                            left: -24px;
                            width: 200px;
                            top: 150%;
                            padding: 16px;
                            background-color: var(--light-color);
                            white-space: initial;
                        }
                    }
                }
            }
        }
    }
}