@use '../../styles/common-theme/css/variables_mixins' as *;
@use '../../styles/common-theme/css/fluid-typography' as *;
@use 'sass:map';



.newsletter-subscription-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .default-content-wrapper {
        // max-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        align-self: stretch;
        background: map.get($blue-1, b25);

        @include media(mobile) {
            margin-top: 32px;
        }

        p:nth-child(1) {
            color: $primary-Blue-1-900;
            text-align: center;
            font-family: $ButlerPro;
            font-size: 44px;
            font-style: normal;
            font-weight: 600;
            line-height: 52.8px;
            letter-spacing: 0px;
            margin: 0;
            margin-top: 20px;

            @include media(mobile) {
                font-size: 38px;
                line-height: 46px;
            }
        }

        .button-container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 28px;
            margin: 0;

            a {
                display: flex;
                width: 166px;
                padding: 8px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                color: $primary-white;
                text-align: center;
                font-family: $Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                text-transform: capitalize;
                border-radius: 8px;
                background: $primary-blue;
                margin: 0;

            }
        }
    }

    .block {
        display: flex;
        padding: 40px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        background: $primary-white;

        @include media(mobile) {
            padding: 0;
        }

        .newsitem1 {
            align-self: stretch;

            .newssubitem .newsinneritem1 {
                margin: 0;
                color: $primary-Blue-1-900;
                text-align: center;
                font-family: $ButlerPro;
                font-size: 44px;
                font-style: normal;
                font-weight: 600;
                line-height: 52.8px;
                letter-spacing: 0px;
            }

            .newssubitem .newsinneritem2 {
                margin: 0;
                color: $primary-Blue-1-900;
                font-family: $Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 170%;
                letter-spacing: 0px;
                text-align: center;

                @include media(mobile) {
                    font-size: 20px;
                    line-height: 28px;
                    padding-top: 24px;
                }
            }
        }

        .newsitem2 {
            max-width: 634px;
            width: 100%;
            margin: auto;

            .form-container .formwrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @include media(mobile) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;
                }

                .inputfield {
                    display: flex;
                    max-width: 343px;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    flex-shrink: 0;

                    label {
                        color: $primary-Blue-1-900;
                        font-family: $Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16.8px;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                    }

                    input {
                        // color: map.get($blue-1, btxt);
                        display: flex;
                        height: 40px;
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;
                        border: 1px solid map.get($strokes, default);
                        padding: 8px 12px;
                        border-radius: 6px;

                        &::placeholder {
                            color: #616161;
                            font-family: $Poppins;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                        }
                    }

                    .error {
                        color: #ED2939;
                        font-size: 11px;
                        font-style: normal;
                    }

                    .dsp-none {
                        display: none;
                    }
                }

                .submitbtn {
                    button {
                        margin: 0;
                        display: flex;
                        width: 166px;
                        padding: 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex-shrink: 0;
                        border-radius: 8px;
                        background: $primary-blue;
                        text-align: center;
                        @include font-style(16px, 21px, $primary-white, map.get($font-weights, medium), $Poppins);
                        text-transform: capitalize;
                    }
                }
            }
        }


    }
}