.compounding .compounding-two-inner .hero-section-wrapper {
  flex: 1 1 40%;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-image {
  flex: 0 0 auto;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-image img {
  width: 80px;
  height: auto;
  display: block;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text div:first-child p {
  margin: 0;
  width: 441px;
  color: #2E2A94;
  font-feature-settings: "liga" off;
  font-family: ButlerPro, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text div:last-child p {
  align-self: stretch;
  color: #2E2A94;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

@media (width <= 768px) {
  .compounding .compounding-two-inner .hero-section-wrapper {
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section {
    flex-direction: row;
    align-items: start;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text {
    text-align: left;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text div:first-child p {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-text div:last-child p {
    font-size: 14px;
    line-height: 18px;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-image {
    width: 60px;
    height: 60px;
  }

  .compounding .compounding-two-inner .hero-section-wrapper .hero-section .hero-image img {
    width: 60px;
  }
}