@import url("../../../styles/fonts.css");

.complete-the-investment > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

@media (width <= 768px) {
  .complete-the-investment > div:first-child {
    padding: 0 16px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.complete-the-investment > div:first-child > p:first-child {
  font-size: 28px;
  line-height: 32px;
  color: #242177;
  font-family: ButlerPro, sans-serif;
  font-weight: 500;
  grid-column: 1/2;
}

@media (width <= 768px) {
  .complete-the-investment > div:first-child > p:first-child {
    grid-column: 1/-1;
    text-align: left;
  }
}

.complete-the-investment > div:first-child > p:nth-child(2) {
  font-size: 28px;
  line-height: 32px;
  color: #242177;
  font-family: ButlerPro, sans-serif;
  font-weight: 500;
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  padding-top: 132px;
}

@media (width <= 768px) {
  .complete-the-investment > div:first-child > p:nth-child(2) {
    grid-column: 1/-1;
    text-align: left;
    padding: 0;
  }
}

.complete-the-investment > div:first-child > p:nth-child(2) a {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: Poppins, sans-serif;
  margin: 0;
  display: flex;
  width: 143px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #242177;
}

.complete-the-investment > div:first-child > p:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/3;
}

@media (width <= 768px) {
  .complete-the-investment > div:first-child > p:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/2;
    padding: 0;
    margin: 0;
  }
}

.complete-the-investment > div:first-child > p:nth-child(3) img {
  max-width: 100%;
  height: 276px;
     object-fit: cover;
  border-radius: 8px;
}