.poona-one-container {
    display: flex;
}

.poona-one-wrapper ul {
    list-style: none;
}

.poona-one-wrapper li {
    border-bottom: 1px solid;
    line-height: 50px;
}

main > .section > div {
    max-width: 1200px;
    margin: 0;
    padding: 10;
}