/* stylelint-disable no-descending-specificity */
/* stylelint-disable media-feature-range-notation */
.section.compound-journey>div {
    border-radius: 12px;
    background: var(--blue-1-25, #EDF1FF);
    max-width: 1262px;
    width: 100%;
    padding: 0 16px;
}

.section.compound-journey .compound-item {
    display: flex;
    gap: 10px;
}

.section.compound-journey .compound-item .compound-sub-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 32.93%;
    width: 100%;
}

.section.compound-journey .compound-sub-item h2 {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--title, ButlerPro);
    font-size: var(--heading-h5-size, 28px);
    font-weight: 500;
    line-height: var(--heading-h5-line-height, 32px);
    margin: 0 0 16px;
}

.section.compound-journey .compound-sub-item ul {
    margin: 0 0 54px;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.section.compound-journey .compound-sub-item ul li {
    color: var(--icon-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--body-small-regular-size, 14px);
    font-weight: 400;
    line-height: var(--label-large-line-height, 20px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.section.compound-journey .compound-sub-item ul li:not(:first-of-type)::before {
    content: '';
    min-width: 4px;
    height: 4px;
    background-color: var(--blue-1-900, #242177);
    border-radius: 50%;
}

.section.compound-journey .compound-sub-item .button-container {
    margin: 0;
    margin-top: auto;
    line-height: 0;
}

.section.compound-journey .compound-sub-item .button-container .button {
    margin: 0;
    color: #FFF;
    font-family: var(--body, Poppins);
    font-size: var(--button-small-size, 14px);
    font-weight: 600;
    line-height: 16px;
    border-radius: var(--border-radius-8, 8px);
    background: var(--blue-1-900, #242177);
    padding: 12px;
    min-width: 157px;
    max-width: max-content;
}

.section.compound-journey .compound-item .card-items {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.section.compound-journey .compound-item .card-container {
    padding: 10px;
    max-width: 258px;
    border: none;
}

.section.compound-journey .card-container .benchmark-star {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.section.compound-journey .benchmark-star .benchmarksec {
    padding: 8px 12px;
    border-radius: 40px;
    border: 0.5px solid var(--blue-1-400, #5659FA);
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.compound-journey .benchmark-star .benchmarksec span {
    color: var(--blue-1-400, #5659FA);
    font-family: var(--body, Poppins);
    font-size: 14px;
    font-weight: 600;
    line-height: var(--paragraph-xsmall-line-height, 16px);
    text-align: center;
}

.section.compound-journey .benchmark-star .star {
    min-width: 28px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.section.compound-journey .star.star-filled .star-icon,
.section.compound-journey .star:not(.star-filled) .fillstar-icon {
    display: none;
}

.section.compound-journey .card-container .scheme-name {
    margin: auto 0 12px;
}

.section.compound-journey .card-container .scheme-name p {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--body-small-semibold-size, 14px);
    font-weight: 600;
    line-height: var(--body-small-semibold-line-height, 16px);
    margin: 0;
}

.section.compound-journey .card-container .dropdown-tags {
    margin-top: auto;
    display: flex;
    align-items: start;
    gap: 8px;
    min-height: 32px;
}

.section.compound-journey .dropdown-tags select {
    max-width: 20.3%;
    width: 100%;
    border: none;
    outline: none;
}

.section.compound-journey .dropdown-tags .fund-tagging {
    height: 100%;
}

.section.compound-journey .fund-tagging .fundtagging-list {
    display: flex;
    align-items: start;
    gap: 8px;
    margin: 0;
    height: 100%;
}

.section.compound-journey .dropdown-tags select,
.section.compound-journey .fund-tagging .fundtagging-list li {
    color: var(--neutrals-black, #111);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 400;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
}

.section.compound-journey .fund-tagging .fundtagging-list li::before {
    content: '';
    min-width: 3px;
    height: 3px;
    display: block;
    background-color: #2E2A94;
    border-radius: 50%;
}

.section.compound-journey .card-container .return-btn {
    margin: 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.section.compound-journey .return-btn .btn-knowmore {
    min-width: 132px;
}

.section.compound-journey .return-btn .btn-knowmore a {
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: var(--border-radius-8, 8px);
    background: var(--blue-1-900, #242177);
    color: #FFF;
    font-family: var(--body, Poppins);
    font-size: var(--button-small-size, 14px);
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:1260px) {
    .section.compound-journey .compound-sub-item .button-container {
        margin-top: unset;
    }

    .section.compound-journey .compound-item .card-container {
        max-width: 244px;
    }
}

@media screen and (max-width:1200px) {
    .section.compound-journey .compound-item .card-container {
        max-width: 49%;
    }
}

@media screen and (max-width:1024px) {
    .section.compound-journey .compound-item {
        flex-direction: column;
    }

    .section.compound-journey .compound-item .compound-sub-item {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .section.compound-journey .compound-item .card-container {
        max-width: 100%;
    }
}