/* Reset */
@import "../../../styles/fonts.css";
.section.cornerstones-advantage-cards-container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage-cards-container {
    max-width: 100%;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-title-wrapper, .section.cornerstones-advantage .cornerstones-advantage-cards-wrapper {
  padding: 0;
  max-width: 100%;
}
.section.cornerstones-advantage .cornerstones-advantage-title h1,
.section.cornerstones-advantage .cornerstones-advantage-title h2,
.section.cornerstones-advantage .cornerstones-advantage-title h3,
.section.cornerstones-advantage .cornerstones-advantage-title h4,
.section.cornerstones-advantage .cornerstones-advantage-title h5,
.section.cornerstones-advantage .cornerstones-advantage-title h6 {
  margin: 0 0 4px;
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  color: #2e2a94;
  font-family: "ButlerPro", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-title h1,
  .section.cornerstones-advantage .cornerstones-advantage-title h2,
  .section.cornerstones-advantage .cornerstones-advantage-title h3,
  .section.cornerstones-advantage .cornerstones-advantage-title h4,
  .section.cornerstones-advantage .cornerstones-advantage-title h5,
  .section.cornerstones-advantage .cornerstones-advantage-title h6 {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-title p {
  font-size: 18px;
  line-height: 24px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-title p {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 40px 0 0;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards {
    flex-wrap: unset;
    flex-direction: column;
    gap: 40px;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item {
  max-width: 296px;
  width: 100%;
  padding-right: 26px;
  min-height: 300px;
}
@media (max-width: 1025px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item {
    max-width: 32%;
  }
}
@media screen and (width <= 851px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item {
    max-width: 48%;
  }
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item {
    min-height: 176px;
    max-width: 100%;
    padding-right: 0;
  }
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item:last-of-type > div {
    border: none;
    padding: 0;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item > div {
    padding-right: 0;
    border-bottom: 1px solid var(--neutrals-400, #bdbdbd);
    padding-bottom: 16px;
    display: grid;
    grid-template-areas: "icon heading" "icon text" "icon button";
    grid-template-columns: 64px 1fr;
    gap: 0 8px;
    align-items: start;
    min-height: 176px;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p {
  margin: 0;
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p:first-of-type,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item .icon {
  width: 64px;
  height: 64px;
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h1,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h2,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h3,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h4,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h5,
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h6 {
  margin: 24px 0 8px;
  font-size: 18px;
  line-height: 24px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h1,
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h2,
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h3,
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h4,
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h5,
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item h6 {
    grid-area: heading;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p:not(:first-of-type, :last-of-type) {
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p:not(:first-of-type, :last-of-type) {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p {
    grid-area: text;
  }
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item p:first-of-type {
    grid-area: icon;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item .button-container {
  margin-top: auto;
}
@media (max-width: 768px) {
  .section.cornerstones-advantage .cornerstones-advantage-cards .cards-item .button-container {
    grid-area: button;
    margin: 24px 0 0;
  }
}
.section.cornerstones-advantage .cornerstones-advantage-cards .cards-item .button-container .button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration-line: underline;
  text-underline-offset: 20%;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}/*# sourceMappingURL=cornerstones-advantage-cards.css.map */