.section.cornerstones-advantage-cards-container,
.section.cornerstones-advantage-title-container {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.cornerstones-advantage-cards-container .cornerstones-advantage-title-wrapper,
.cornerstones-advantage-cards-container .cornerstones-advantage-cards-wrapper {
    padding: 0;
    max-width: 100%;
}

.cornerstones-advantage-title h2 {
    margin: 0 0 4px;
    color: var(--blue-1800-primary, #2E2A94);
    text-align: center;
    font-family: var(--title, ButlerPro);
    font-size: var(--heading-h1-size, 48px);
    font-weight: 700;
    line-height: var(--heading-h1-line-height, 56px);
}

.cornerstones-advantage-title p {
    margin: 0;
    color: var(--blue-1800-primary, #2E2A94);
    text-align: center;
    font-family: var(--body, Poppins);
    font-size: var(--body-large-medium-size, 18px);
    font-weight: 500;
    line-height: var(--body-large-medium-line-height, 24px);
}

.cornerstones-advantage-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 40px 0 0;
}

.cornerstones-advantage-cards .cards-item {
    /* max-width: 25%; */
    max-width: 296px;
    width: 100%;
    padding-right: 26px;
    min-height: 300px;
}

.cornerstones-advantage-cards .cards-item>div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cornerstones-advantage-cards .cards-item p {
    margin: 0;
}

.cornerstones-advantage-cards .cards-item p:first-of-type,
.cornerstones-advantage-cards .cards-item .icon {
    width: 64px;
    height: 64px;
}

.cornerstones-advantage-cards .cards-item h4 {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--body-large-semibold-size, 18px);
    font-weight: 600;
    line-height: var(--body-large-semibold-line-height, 24px);
    margin: 24px 0 8px;
}

.cornerstones-advantage-cards .cards-item p:not(:first-of-type, :last-of-type) {
    color: var(--text-body, #424242);
    font-family: var(--body, Poppins);
    font-size: var(--body-medium-regular-size, 16px);
    font-weight: 400;
    line-height: var(--body-medium-regular-line-height, 24px);
}

.cornerstones-advantage-cards .cards-item .button-container {
    margin-top: auto;
}

.cornerstones-advantage-cards .cards-item .button-container .button {
    margin: 0;
    padding: 0;
    color: var(--button-primary-default, #2E2A94);
    background-color: transparent;
    font-family: var(--body, Poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    text-underline-offset: 20%;
    border-radius: 0;
}

@media screen and (width <=768px) {
    .section.cornerstones-advantage-cards-container,
    .section.cornerstones-advantage-title-container {
        max-width: 100%;
        padding: 40px 16px;
    }

    .cornerstones-advantage-title h2 {
        font-size: var(--heading-h5-size, 28px);
        line-height: var(--sub-header-large-line-height, 32px);
        text-align: left;
    }

    .cornerstones-advantage-title p {
        font-size: var(--body-medium-medium-size, 16px);
        line-height: var(--body-medium-medium-line-height, 20px);
        text-align: left;
    }

    .cornerstones-advantage-cards {
        flex-wrap: unset;
        flex-direction: column;
        gap: 40px;
    }

    .cornerstones-advantage-cards .cards-item {
        min-height: 176px;
        max-width: 100%;
        padding-right: 0;
    }

    .cornerstones-advantage-cards .cards-item>div {
        padding-right: 0;
        border-bottom: 1px solid var(--neutrals-400, #BDBDBD);
        padding-bottom: 16px;
        display: grid;
        grid-template-areas:
            "icon heading"
            "icon text"
            "icon button";
        grid-template-columns: 64px 1fr;
        gap: 0 8px;
        align-items: start;
        min-height: 176px;
    }

    .cornerstones-advantage-cards .cards-item:last-of-type>div {
        border: none;
        padding: 0;
    }

    .cornerstones-advantage-cards .cards-item h3 {
        grid-area: heading;
    }

    .cornerstones-advantage-cards .cards-item p {
        grid-area: text;
    }

    .cornerstones-advantage-cards .cards-item p:first-of-type {
        grid-area: icon;
    }

    .cornerstones-advantage-cards .cards-item .button-container {
        grid-area: button;
        margin: 24px 0 0;
    }

    .cornerstones-advantage-cards .cards-item h4 {
        margin: 0;
        font-size: var(--body-medium-semibold-size, 16px);
        line-height: var(--body-medium-semibold-line-height, 20px);
    }

    .cornerstones-advantage-cards .cards-item p:not(:first-of-type, :last-of-type) {
        font-size: var(--body-small-regular-size, 14px);
        line-height: var(--label-large-line-height, 20px);
    }
}