/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.live-streaming-carousel-container {
  // padding: 24px;
  margin: 24px 16px;

  // @include media(desktop-md) {
  //   padding: 24px 16px;
  // }
  .default-content-wrapper {
    // max-width: 1232px;
    padding: 0;
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 8px;
      @include font-style(14px, 16px, $primary-blue, 500, $Poppins);

      @include media(mobile) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .live-streaming-carousel {
    max-width: 1100px;
    margin: 0;
    margin-right: 140px;

    @include media(mobile) {
      // margin-right: 115px;
      margin-right: 87px;
    }

    &-wrapper {
      // max-width: 1232px;
      padding: 0;
      margin: 0 auto;
      position: relative;
      border-top: 1px solid rgb(66 82 110 / 20%);

      .swiper-button-next,
      .swiper-button-prev,
      .custom-pagination {
        top: 0;
        right: 0;
        left: unset;
        width: 20px;
        height: 20px;
        margin: 16px 0 2px;
        display: block;
        opacity: 1;

        @include media(mobile) {
          right: 0;
          top: unset;
          bottom: 0;
          margin: 0;
          display: none;
        }

        &::after {
          content: "";
          background: url("../../icons/arrow-left.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-width: 20px;
          height: 20px;
          display: block;
        }
        &.swiper-button-disabled {
          &::after {
            background: url("../../icons/arrow-left-disabled.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
          }
        }
      }

      .swiper-button-next {
        &::after {
          transform: rotate(180deg);
        }
      }

      .swiper-button-prev {
        right: 105px;
      }
      .swiper-pagination{
        display: none;
        &::after{
          content: unset;
        }
        @include media(mobile){
          display: flex;
          position: absolute;
          right: 8px;
          top: unset;
          left: unset;
          bottom: 0;
          max-width: max-content;
          height: 2px;
          border-radius: 10px;
          background-color: $neutrals-300;
          &-bullet{
            background-color: transparent;
            opacity: unset;
            margin: 0;
            height: 2px;
            border-radius: 10px;
          }
          &-bullet-active{
            background-color: map.get($button-primary, default);
          }
        }
      }

      .custom-pagination{
        max-width: max-content;
        width: unset;
        height: unset;
        display: flex;
        gap: 4px;
        position: absolute;
        right: 36px;
        &::after{
          content: unset;
        }
        @include media(mobile){
          right: 0;
          bottom: 8px;
        }
        & .current-slide,
        & .total-slide{
          margin: 0;
          @include font-style(16px, 20px, $primary-blue, 500, $Poppins);
        }
        & .total-slide {
          color: map.get($blue-1, b300);
        }
      }
    }

    ul {
      padding: 16px 0 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: start;
      gap: 16px;

      @include media(mobile) {
        flex-direction: column-reverse;
        align-items: start;
        // max-width: 75.53%;
        width: 100%;
        gap: 8px;
      }

      li:first-of-type {
        @include font-style(16px, 24px, $color-text-body, 400, $Poppins);

        @include media(mobile) {
          font-size: 14px;
          line-height: 20px;
          padding-right: 9px;
        }
      }

      li:last-of-type {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: max-content;
        @include font-style(16px, 20px, $color-text-body, 500, $Poppins);
        color: $text-header;

        @include media(mobile) {
          font-size: 14px;
          line-height: 16px;
        }

        &::before {
          content: "";
          width: 9px;
          height: 9px;
          display: block;
          background-color: #f00;
          border-radius: map.get($radius, r50);
        }
        a{
          color: unset;
        }
      }
    }
  }
}
