/* Reset */
@import "../../../styles/fonts.css";
.section.live-streaming-carousel-container {
  margin: 20px 16px;
}
.section.live-streaming-carousel-container .default-content-wrapper {
  padding: 0;
  margin: 0 auto;
}
.section.live-streaming-carousel-container .default-content-wrapper h1,
.section.live-streaming-carousel-container .default-content-wrapper h2,
.section.live-streaming-carousel-container .default-content-wrapper h3,
.section.live-streaming-carousel-container .default-content-wrapper h4,
.section.live-streaming-carousel-container .default-content-wrapper h5,
.section.live-streaming-carousel-container .default-content-wrapper h6 {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .default-content-wrapper h1,
  .section.live-streaming-carousel-container .default-content-wrapper h2,
  .section.live-streaming-carousel-container .default-content-wrapper h3,
  .section.live-streaming-carousel-container .default-content-wrapper h4,
  .section.live-streaming-carousel-container .default-content-wrapper h5,
  .section.live-streaming-carousel-container .default-content-wrapper h6 {
    font-size: 12px;
    line-height: 16px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel {
  max-width: 1100px;
  margin: 0;
  margin-right: 140px;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel {
    margin-right: 115px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper {
  padding: 0;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid rgba(66, 82, 110, 0.2);
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-next,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination {
  top: 0;
  right: 0;
  left: unset;
  width: 20px;
  height: 20px;
  margin: 16px 0 2px;
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-next,
  .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev,
  .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination {
    right: 0;
    top: unset;
    bottom: 0;
    margin: 0;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-next::after,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev::after,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination::after {
  content: "";
  background: url("../../icons/arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 20px;
  height: 20px;
  display: block;
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-next.swiper-button-disabled::after,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev.swiper-button-disabled::after,
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination.swiper-button-disabled::after {
  background: url("../../icons/arrow-left-disabled.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-next::after {
  transform: rotate(180deg);
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev {
  right: 104px;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-button-prev {
    right: 83px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination {
  right: 36px;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination {
    right: 25px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination, .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination-current, .section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination-total {
  font-size: 16px;
  line-height: 20px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination-total {
  color: #7986fd;
}
.section.live-streaming-carousel-container .live-streaming-carousel-wrapper .swiper-pagination::after {
  content: unset;
}
.section.live-streaming-carousel-container .live-streaming-carousel ul {
  padding: 16px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: start;
  gap: 16px;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel ul {
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel ul li:first-of-type {
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel ul li:first-of-type {
    font-size: 14px;
    line-height: 20px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel ul li:last-of-type {
  color: #382ad7;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 16px;
  line-height: 20px;
  color: #424242;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.live-streaming-carousel-container .live-streaming-carousel ul li:last-of-type {
    font-size: 14px;
    line-height: 16px;
  }
}
.section.live-streaming-carousel-container .live-streaming-carousel ul li:last-of-type::before {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background-color: #f00;
  border-radius: 50%;
}/*# sourceMappingURL=live-streaming-carousel.css.map */