@import '../../styles/common-theme/css/variables_mixins.scss';
@import '../../styles/common-theme/css/fluid-typography.scss';
@import '../swiper/swiper-bundle.min.css';


.future-building-container {
    position: relative;

    >div:first-child {
        width: 100%;
        height: 100%;
        padding-bottom: 40px;

        h3 {
            @include fonts(rem(40px), rem(48px), $primary-blue, $roboto, 600);
            margin: 0;
            padding: 0;
            padding-bottom: 8px;
            text-align: left;

            @include mobile {
                font-size: rem(32px);
                line-height: rem(40px);
            }
        }

        p {
            @include fonts(rem(16px), rem(20px), $primary-blue, $roboto, "regular");
            margin: 0;
            padding: 0;
            line-height: 1.5;
            max-width: rem(600px);

            @include mobile {
                font-size: rem(16px);
                line-height: rem(20px);
            }
        }
    }

    .future-building {

        .swiper-wrapper {
            display: flex;
            align-items: stretch;

            .swiper-slide {
                width: 400px !important;
                height: auto;

                @include mobile {
                    width: 326px !important;
                }

                // .swiper-slide-cards-1 {}

                .swiper-slide-cards-2 {
                    >ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        >li {
                            padding: 0;
                            margin: 0;
                            line-height: normal;

                            a {
                                display: inline-flex;
                                // width: 124px;
                                // height: 32px;
                                padding: 0px 8px;
                                align-items: center;
                                gap: 8px;
                                border-radius: $r40;
                                border: 0.5px solid #585EF9;
                                color: #2E2A94;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 16px;
                            }
                        }

                        &>li:first-child {
                            margin-bottom: 25px;

                            @include mobile {
                                margin-bottom: 12px;
                            }
                        }

                        &>li:nth-child(2) {
                            color: $primary-blue;
                            font-family: $roboto;
                            @include fonts(rem(18px), rem(24px), $primary-blue, $roboto, 600);
                            margin-bottom: 8px;

                            @include mobile {
                                font-size: rem(16px);
                                line-height: rem(20px);
                                margin-bottom: 4px;
                            }
                        }

                        &>li:nth-child(3) {
                            font-family: $roboto;
                            @include fonts(rem(14px), rem(20px), $neutrals-800, $roboto, 400);

                            @include mobile {
                                font-size: rem(16px);
                                line-height: rem(20px);
                            }
                        }

                        &>li:last-child {
                            margin-top: 25px;

                            a {
                                @include fonts(rem(14px), rem(20px), $primary-blue, $roboto, 400);
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: auto;
                                text-decoration-thickness: auto;
                                text-underline-offset: 2.8px;
                                text-underline-position: from-font;
                                border: none;
                            }

                            @include mobile {
                                margin-top: 12px;
                            }
                        }
                    }
                }

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }

    &>div:nth-child(3) {
        display: inline-block;
        position: absolute;
        padding: 0;
        top: 35px;
        right: 130px;

        @include mobile {
            display: flex;
            position: unset;
            padding: 0 16px;
            margin-top: 40px;
        }

        p {
            margin: 0;
            padding: 0;

            a {
                margin: 0;
                padding: 0;
                display: inline-flex;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: $r8;
                background: $Button-Primary-Default;
                @include fonts(rem(14px), rem(20px), $primary-white, $roboto, 600);

            }
        }
    }

}