/* swp-calculator.css */
.swp-calculator {
  font-family: 'Georgia', serif;
  color: #111;
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.swp-header {
  margin-bottom: 2rem;
}

.swp-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #555;
  display: block;
}

.swp-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

.swp-frequency {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.toggle {
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  border: 1px solid #000;
  /* background: #fff; */
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.toggle.active {
  /* background: #000; */
  color: #fff;
}

.swp-inputs {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.input-inline {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.5rem;
  background: transparent;
  width: 8ch;
  margin: 0 0.25rem;
  text-align: center;
}

.input-wrapper {
  border-bottom: 2px solid #000;
  display: inline-flex;
  align-items: baseline;
  padding-right: 0.5rem;
  margin-left: 0.3rem;
}

.currency-symbol {
  font-size: 1.5rem;
  margin-right: 0.1rem;
}

.swp-result-box {
  background: #f3f3f3;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.result-label {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  display: block;
}

.result-value {
  font-size: 3rem;
  font-weight: bold;
}

.swp-cta {
  background: #000;
  color: #fff;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  max-width: 1000px;
  margin: auto;
  /* padding: 2rem; */

}

.cta-text {
  font-size: 1.75rem;
  font-weight: 500;
}

.start-btn {
  background: transparent;
  color: white;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border: 2px solid white;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1rem;
}

.swp-box2 {
  background: #f3f3f3;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 0;
}