/* stylelint-disable alpha-value-notation */
/* stylelint-disable media-feature-range-notation */
@import url("../../../styles/fonts.css");

.section.tabs-container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.section.tabs-container.our-popular-funds {
  background: #2e2a94;
  max-width: 100%;
}

.section.tabs-container .default-content-wrapper h1 {
  font-size: 40px;
  line-height: 48px;
  color: #2e2a94;
  font-family: ButlerPro, sans-serif;
  font-weight: 700;
  margin: 0;
}

.section.tabs-container.our-popular-funds .default-content-wrapper h1 {
  color: #fff;
}

.section.tabs-container .tabs-wrapper {
  margin: 0 auto;
}

.section.tabs-container .tabs-wrapper .tabs-panel {
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
  margin: 24px 0 0;
  border: none;
  padding: 0;
}

.section.tabs-container.our-popular-funds .default-content-wrapper,
.section.tabs-container.our-popular-funds .tabs-wrapper {
  width: 100%;
  margin: 0 auto;
}

.section.tabs-container .wrappertablist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.section.tabs-container .btndesk,
.section.tabs-container .btnmob {
  margin: 0;
  padding: 0;
  line-height: 0;
  max-width: 105px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
}

.section.tabs-container .btndesk a,
.section.tabs-container .btnmob a {
  border-radius: 8px;
  border: 1px solid #2e2a94;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 0;
}

.section.tabs-container.our-popular-funds .btnmob a,
.section.tabs-container.our-popular-funds .wrappertablist .btndesk a {
  border: 1px solid #fff;
  color: #fff;
}

.section.tabs-container .btnmob {
  display: none;
}

.section.tabs-container .tabs-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  border-bottom: 1px solid #b7b7b7;
  max-width: max-content;
}

.section.tabs-container .tabs-list .tabs-tab {
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.section.tabs-container .tabs-list .tabs-tab[aria-selected="true"] {
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #2e2a94;
}

.section.tabs-container.our-popular-funds .tabs-list .tabs-tab {
  color: #9DADFE;
}

.section.tabs-container.our-popular-funds .tabs-list .tabs-tab[aria-selected="true"] {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.section .card-container {
  max-width: 296px;
  width: 100%;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.section .card-container .card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.section .card-container .card-upper-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  margin: 0 0 8px;
  min-height: 50px;
}

.section .card-container .card-upper-title h2 {
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin: 0;
}

.section .card-container .card-upper-title .star {
  min-width: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.section .card-container .card-upper-title .star.star-filled .star-icon, .section .card-container .card-upper-title .star:not(.star-filled) .fillstar-icon {
  display: none;
}

.section .card-container .card-upper-title .star img {
  width: 100%;
  height: 100%;
}

.section .card-container .card-category {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 0 16px;
}

.section .card-container .card-category .fundtagging-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  list-style: none;
  margin: 0;
}

.section .card-container .card-category .fundtagging-list li {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.section .card-container .card-category .fundtagging-list li::before {
  content: "";
  min-width: 3px;
  height: 3px;
  display: block;
  background-color: #2e2a94;
  border-radius: 50%;
}

.section .card-container .card-category .fundtagging-list li:first-of-type::before {
  content: none;
}

.section .card-container .card-category .planlist-dropdown {
  max-width: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.section .card-container .card-category .planlist-dropdown::before {
  content: "";
  min-width: 3px;
  height: 3px;
  display: block;
  background-color: #2e2a94;
  border-radius: 50%;
}

.section .card-container .card-category .planlist-dropdown select {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
          appearance: none;
  background-color: transparent;
  width: 100%;
}

.section .card-container .cagr-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  padding: 4px 0;
}

.section .card-container .cagr-container.not-provided .cagr-dropdown,
.section .card-container .cagr-container.not-provided .cagr-value {
  display: none;
}

.section .card-container .cagr-container:not(.not-provided) .cagr-desc {
  display: none;
}

.section .card-container .cagr-container .cagr-dropdown {
  max-width: 46%;
  width: 100%;
  position: relative;
  line-height: 0;
}

.section .card-container .cagr-container .cagr-dropdown label {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding-bottom: 4px;
}

.section .card-container .cagr-container .cagr-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80px;
}

.section .card-container .cagr-container .cagr-select-wrapper::after {
  content: "";
  background: url("../../icons/down-arrow-small.svg") center/cover no-repeat;
  width: 12px;
  height: 12px;
  display: block;
}

.section .card-container .cagr-container .cagr-select-wrapper select {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
          appearance: none;
  padding: 4px 4px 4px 0;
}

.section .card-container .cagr-container .cagr-value {
  max-width: 46%;
  width: 100%;
}

.section .card-container .cagr-container .cagr-value h2 {
  font-size: 24px;
  line-height: 32px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin: 0;
  text-align: right;
}

.section .card-container .cagr-container .cagr-value h2 span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.section .card-container .cagr-container .cagr-value .scheme-yet,
.section .card-container .cagr-container .cagr-value .cagr-date {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 0;
}

.section .card-container .cagr-container .cagr-desc {
  background: #f3f3f3;
  padding: 4px 8px;
  line-height: 0;
  width: 100%;
}

.section .card-container .cagr-container .cagr-desc span {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding: 8px 0;
  display: block;
}

.section .card-container .risk-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2px;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 16px;
  margin: 8px 0 0;
}

.section .card-container .risk-container label {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.section .card-container .risk-container span {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.section .card-container .risk-container span::after {
  content: "";
  background: url("../../icons/info-icon.svg") center/cover no-repeat;
  width: 12px;
  height: 12px;
  display: block;
  cursor: pointer;
}

.section .card-container .discription {
  margin: 24px 0 0;
}

.section .card-container .discription .dis-choosen {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin: 0;
}

.section .card-container .discription .dis-choosen .dis-investor {
  font-weight: 600;
}

.section .card-container .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 0;
  gap: 20px;
}

.section .card-container .button-container .know-more {
  font-size: 14px;
  line-height: 20px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration-line: underline;
  text-underline-offset: 20%;
  border-radius: 0;
}

.section .card-container .button-container .invest-now {
  max-width: 132px;
  width: 100%;
  border-radius: 8px;
  background: #2e2a94;
  padding: 12px;
  margin: 0;
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.section.index-fund {
  margin: 40px auto;
  width: 100%;
  padding: 12px 0;
}

.section.index-fund .compound-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.section.index-fund .compound-item .card-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}

.section.index-fund .compound-item .card-items .card-container {
  box-shadow: 2px 9px 12px 0 rgb(0 0 0 / 0.08);
  border: none;
}

.section.index-fund .compound-item .card-items .card-container:nth-child(odd) {
  margin-bottom: 20px;
}

.section.index-fund .compound-item .card-items .card-container:nth-child(even) {
  margin-top: 20px;
}

.section.index-fund .compound-item .compound-sub-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding: 12px;
  max-width: 49.53%;
  width: 100%;
  min-height: 180px;
  height: max-content;
}

.section.index-fund .compound-item .compound-sub-item h2 {
  font-size: 28px;
  line-height: 32px;
  color: #2e2a94;
  font-family: ButlerPro, sans-serif;
  font-weight: 500;
  margin: 0;
  max-width: 306px;
  width: 100%;
}

.section.index-fund .compound-item .compound-sub-item .button-container {
  margin: 0;
  margin-top: auto;
  line-height: 0;
}

.section.index-fund .compound-item .compound-sub-item .button-container .button {
  border-radius: 8px;
  background: #2e2a94;
  padding: 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  font-family: Poppins, sans-serif;
}

@media (max-width: 1299px) {
  .section.tabs-container .card-container {
    max-width: 31.8%;
  }
}

@media (max-width: 1025px) {
  .section .card-container .button-container .invest-now {
    max-width: 115px;
  }

  .section.index-fund .compound-item {
    flex-direction: column;
  }

  .section.index-fund .compound-item .compound-sub-item {
    max-width: 100%;
  }
}

@media (max-width: 1025px) and (max-width: 768px) {
  .section.index-fund .compound-item .compound-sub-item {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1025px) {
  .section.index-fund .compound-item .card-items .card-container {
    max-width: 49.8%;
  }

  .section.index-fund .compound-item .card-items .card-container:nth-child(odd), .section.index-fund .compound-item .card-items .card-container:nth-child(even) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .section.tabs-container {
    padding: 40px 0;
  }

  .section.tabs-container .default-content-wrapper h1 {
    font-size: 32px;
    line-height: 40px;
    color: #2e2a94;
    font-family: ButlerPro, sans-serif;
    font-weight: 700;
  }

  .section.tabs-container .tabs-wrapper {
    margin: 24px 0 0;
  }

  .section.tabs-container .tabs-list::-webkit-scrollbar {
    display: none;
  }

  .section.tabs-container .tabs-list .tabs-tab {
    font-size: 14px;
    line-height: 16px;
    color: #2e2a94;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }

  .section.tabs-container .wrappertablist .btndesk {
    display: none;
  }

  .section.tabs-container .btnmob {
    display: block;
    margin: 40px auto 0;
  }

  .section.tabs-container .card-container {
    padding: 20px 16px;
    max-width: 100%;
  }

  .section .card-container {
    max-width: 100%;
  }

  .section .card-container .card-wrapper {
    max-width: 100%;
  }

  .section .card-container .card-upper-title h2 {
    font-size: 16px;
    line-height: 20px;
    color: #2e2a94;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }

  .section .card-container .card-category {
    margin: 0 0 20px;
    min-height: unset;
  }

  .section .card-container .cagr-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .section .card-container .cagr-container .cagr-dropdown {
    max-width: 39.75%;
  }

  .section .card-container .cagr-container .cagr-select-wrapper select {
    padding: 2px 8px 2px 0;
  }

  .section .card-container .cagr-container .cagr-value h2 {
    font-size: 24px;
    line-height: 32px;
    color: #2e2a94;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }

  .section .card-container .risk-container {
    padding-bottom: 8px;
  }

  .section .card-container .button-container {
    margin: 28px 0 0;
  }

  .section.index-fund .compound-item .card-items {
    flex-wrap: wrap;
  }

  .section.index-fund .compound-item .card-items .card-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .section.tabs-container .card-container {
    max-width: 100%;
  }
}