* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section.tabs-container {
    /* background-color: lavenderblush; */
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
}

.section.our-popular-funds.tabs-container {
    background: var(--blue-1800-primary, #2E2A94);
    max-width: 100%;
}

.section.tabs-container .default-content-wrapper {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.section.tabs-container .default-content-wrapper h1 {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--title, ButlerPro);
    font-size: var(--heading-h2-size, 40px);
    font-weight: 700;
    line-height: var(--heading-h2-line-height, 48px);
    margin: 0;
}

.section.our-popular-funds.tabs-container .default-content-wrapper h1 {
    color: #fff;
}

.section.tabs-container .tabs-wrapper {
    margin: 8px 0 0;
    max-width: 100%;
    padding: 0;
}

.section.our-popular-funds.tabs-container .default-content-wrapper,
.section.our-popular-funds.tabs-container .tabs-wrapper {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
}

.section.tabs-container .tabs-list {
    display: flex;
    gap: 0;
    border-bottom: var(--border-width-01, 1px) solid var(--color-neutrals-400, #B6BCC7);
    margin: 0 0 24px;
    max-width: max-content;
}

.section.tabs-container .tabs-list .tabs-tab {
    border: none;
    background-color: transparent;
    padding: 12px;
    color: #2E2A94;
    font-family: var(--body, Poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.section.our-popular-funds.tabs-container .tabs-list .tabs-tab {
    color: var(--blue-1-200, #9DADFE);
}

.section.tabs-container .tabs-list .tabs-tab[aria-selected="true"] {
    font-weight: 600;
    border-bottom: var(--border-width-03, 2px) solid var(--blue-1800-primary, #2E2A94);
}

.section.our-popular-funds.tabs-container .tabs-list .tabs-tab[aria-selected="true"] {
    border-bottom: var(--border-width-03, 2px) solid var(--neutrals-white, #FFF);
    color: #fff;
}

.section.tabs-container .tabs-wrapper .tabs-panel {
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.section .card-container {
    max-width: 296px;
    width: 100%;
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid var(--neutrals-400, #BDBDBD);
    display: flex;
    background-color: #fff;
}

.section .card-container .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.section .card-container .card-upper-title {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 0 8px;
    height: 100%;
}

.section .card-container .card-upper-title h2 {
    margin: 0;
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--body-small-medium-size, 14px);
    font-weight: 500;
    line-height: var(--body-small-medium-line-height, 16px);
    height: 100%;
}

.section .card-container .card-upper-title .star {
    min-width: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.section .card-container .card-upper-title .star.star-filled .star-icon,
.section .card-container .card-upper-title .star:not(.star-filled) .fillstar-icon {
    display: none;
}

.section .card-container .card-upper-title .star img {
    width: 100%;
    height: 100%;
}

.section .card-container .card-category {
    display: flex;
    gap: 8px;
    align-items: start;
    margin: 0 0 16px;
    min-height: 32px;
}

.section .card-container .card-category .fundtagging-list {
    display: flex;
    gap: 8px;
    list-style: none;
    margin: 0;
}

.section .card-container .fundtagging-list li,
.section .card-container .planlist-dropdown select {
    color: var(--text-body, #424242);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 400;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
    display: flex;
    gap: 8px;
    align-items: center;
}

.section .card-container .fundtagging-list li::before,
.section .card-container .planlist-dropdown::before {
    content: '';
    min-width: 3px;
    height: 3px;
    display: block;
    background-color: #2E2A94;
    border-radius: 50%;
}

.section .card-container .fundtagging-list li:first-of-type::before {
    content: unset;
}

.section .card-container .card-category .planlist-dropdown {
    max-width: 70px;
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.section .card-container .planlist-dropdown select {
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    width: 100%;
}

.section .card-container .cagr-container {
    display: flex;
    align-items: start;
    gap: 24px;
}

.section .card-container .cagr-container .cagr-dropdown {
    max-width: 46%;
    width: 100%;
    position: relative;
    line-height: 0;
}

.section .card-container .risk-container label {
    margin: 0;
    padding: 0;
}

.section .card-container .risk-container label,
.section .card-container .cagr-container .cagr-dropdown label,
.section .card-container .cagr-value .scheme-yet,
.section .card-container .cagr-value .cagr-date {
    color: var(--text-body, #424242);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 400;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
    padding-bottom: 4px;
}

.section .card-container .cagr-select-wrapper {
    display: flex;
    align-items: center;
}

.section .card-container .cagr-select-wrapper::after {
    content: '';
    background: url('../../icons/down-arrow-small.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    display: block;
}

.section .card-container .cagr-select-wrapper select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
    padding: 4px 4px 4px 0;
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 500;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
}

.section .card-container .cagr-container .cagr-value {
    max-width: 46%;
    width: 100%;
}

.section .card-container .cagr-value h2 {
    margin: 0;
    color: var(--blue-1800-primary, #2E2A94);
    text-align: right;
    font-family: var(--body, Poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}


.section .card-container .cagr-value .scheme-yet,
.section .card-container .cagr-value .cagr-date {
    text-align: right;
    margin: 0;
    padding: 0;
}

.section .card-container .cagr-container .cagr-desc {
    background: var(--neutrals-200, #eee);
    padding: 4px 8px;
    line-height: 0;
    width: 100%;
}

.section .card-container .cagr-desc span {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 400;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
    padding: 8px 0;
    display: block;
}

.section .card-container .risk-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-bottom: 1px solid var(--neutrals-400, #BDBDBD);
    padding-bottom: 16px;
    margin: 8px 0 0;
}



.section .card-container .risk-container span {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 500;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
    display: flex;
    align-items: center;
    gap: 4px;
}

.section .card-container .risk-container span::after {
    content: '';
    background: url('../../icons/info-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    display: block;
    cursor: pointer;
}

.section .card-container .discription {
    margin: 24px 0 0;
}

.section .card-container .discription .dis-choosen {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--disclaimer-xsmall-size, 12px);
    font-weight: 400;
    line-height: var(--disclaimer-xsmall-line-height, 16px);
    margin: 0;
}

.section .card-container .discription .dis-choosen .dis-investor {
    font-weight: 600;
}

.section .card-container .button-container {
    margin: 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.section .card-container .button-container .know-more {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--body, Poppins);
    font-size: var(--text-link-small-size, 14px);
    font-weight: 500;
    line-height: var(--text-link-small-line-height, 20px);
    text-decoration-line: underline;
    text-underline-offset: 20%;
    border-radius: 0;
}

.section .card-container .button-container .invest-now {
    max-width: 132px;
    width: 100%;
    border-radius: var(--border-radius-8, 8px);
    background: var(--button-primary-default, #2E2A94);
    padding: 12px;
    margin: 0;
    color: var(--neutrals-white, #FFF);
    font-family: var(--body, Poppins);
    font-size: var(--button-small-size, 14px);
    font-weight: 600;
    line-height: 16px;
}

.section .card-container .cagr-container.not-provided .cagr-dropdown,
.section .card-container .cagr-container.not-provided .cagr-value,
.section .card-container .cagr-container:not(.not-provided) .cagr-desc {
    display: none;
}

/* Make Index Fund Start */
.section.investment-block-container {
    margin: 40px auto;
    max-width: 1232px;
    width: 100%;
    background: lavender;
    padding: 12px 10px;
}

.section.investment-block-container>div {
    padding: 0;
    max-width: 100%;
}

.section .index-fund .compound-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section .compound-item .card-items {
    display: flex;
    gap: 10px;
    width: 100%;
}

.section .index-fund .card-items .card-container {
    box-shadow: 2px 9px 12px 0px rgba(0, 0, 0, 0.08);
}

.section .index-fund .card-items .card-container:nth-child(odd) {
    margin-bottom: 20px;
}

.section .index-fund .card-items .card-container:nth-child(even) {
    margin-top: 20px;
}

.section .index-fund .compound-item .compound-sub-item {
    display: flex;
    flex-direction: column;
    padding: 12px;
    max-width: 49.53%;
    width: 100%;
    min-height: 180px;
    height: max-content;
    background-color: lavenderblush;
}

.section .index-fund .compound-item .compound-sub-item h2 {
    color: var(--blue-1800-primary, #2E2A94);
    font-family: var(--title, ButlerPro);
    font-size: var(--heading-h5-size, 28px);
    font-weight: 500;
    line-height: var(--heading-h5-line-height, 32px);
    margin: 0;
    max-width: 306px;
    width: 100%;
}

.section .index-fund .compound-item .compound-sub-item .button-container {
    margin: 0;
    margin-top: auto;
    line-height: 0;
}

.section .index-fund .compound-item .compound-sub-item .button-container .button {
    border-radius: var(--border-radius-8, 8px);
    background: var(--blue-1800-primary, #2E2A94);
    padding: 12px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .section .index-fund .compound-item .compound-sub-item {
        max-width: 42.43%;
    }

    .section .index-fund .card-container {
        max-width: 49.8%;
    }
}

@media screen and (max-width: 1024px) {
    .section .index-fund .compound-item {
        flex-direction: column;
    }

    .section .index-fund .compound-item .compound-sub-item {
        max-width: 100%;
    }

    .section .index-fund .card-container {
        max-width: 49.8%;
    }

    .section .index-fund .card-items .card-container:nth-child(odd),
    .section .index-fund .card-items .card-container:nth-child(even) {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .section .compound-item .card-items {
        flex-wrap: wrap;
    }

    .section .index-fund .card-container {
        max-width: 100%;
    }
}

/* Make Index Fund End */

@media screen and (max-width: 1300px) {
    .section .card-container {
        max-width: 31.8%;
    }
}

@media screen and (max-width: 1025px) {
    .section .card-container .button-container .invest-now {
        max-width: 115px;
    }
}

@media screen and (max-width: 850px) {
    .section .card-container {
        max-width: 47%;
    }
}

@media screen and (max-width:768px) {
    .section.tabs-container {
        padding: 40px 16px;
    }

    .section.tabs-container .default-content-wrapper h1 {
        font-size: var(--heading-h4-size, 32px);
        line-height: var(--heading-h4-line-height, 40px);
    }

    .section.tabs-container .tabs-wrapper {
        margin: 24px 0 0;
    }

    .section.tabs-container .tabs-list::-webkit-scrollbar {
        display: none;
    }

    .section.tabs-container .tabs-list .tabs-tab {
        font-size: var(--body-small-semibold-size, 14px);
        line-height: var(--body-small-semibold-line-height, 16px);
    }

    .section .card-container {
        padding: 20px 16px;
    }

    .section .card-container,
    .section .card-container .card-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .section .card-container .card-upper-title h2 {
        font-size: var(--body-medium-medium-size, 16px);
        line-height: var(--body-medium-medium-line-height, 20px);
    }

    .section .card-container .card-category {
        margin: 0 0 20px;
        min-height: unset;
    }

    .section .card-container .cagr-container {
        justify-content: space-between;
    }

    .section .card-container .cagr-container .cagr-dropdown {
        max-width: 39.75%;
    }

    .section .card-container .cagr-select-wrapper select {
        padding: 2px 8px 2px 0;
    }

    .section .card-container .cagr-value h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .section .card-container .risk-container {
        padding-bottom: 8px;
    }

    .section .card-container .button-container {
        margin: 28px 0 0;
    }
}